# --- Entorno Virtual ---
venv/
.env

# --- Python ---
__pycache__/
*.py[cod]
*$py.class
.mypy_cache/
.pytest_cache/
.ruff_cache/

# --- Logs ---
log/
*.log

# --- Base de Datos ---
*.db
*.sqlite3

# --- IDEs y Herramientas ---
.vscode/
.idea/
.DS_Store

# --- Playwright ---
.auth/